.Logo{
    opacity:0.5;
}

.myNavbar{
      background-color: #fcfcef;
      text-align: center;
      float: none;
      display: inline-block;
      font-family: serif;


}
.navbar-brand{
  font-family: serif;
  letter-spacing: 2px;
  /* font-style: oblique; */
}

.active {
  background-color: #ccccb1;
}

body{
  background-color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.text{
  font-family: serif;
  letter-spacing: 20px;
  font-size:50px;
  font-style: oblique;
}

footer{
position: fixed;
 left: 0;
 bottom: 0px;
 width: 100%;
 background-color: white;
 color: #337ab7;
 text-align: center;
 padding: 10px;
 font-size: 13px;
 font-family: serif;
}
